/**General**/
.menu{
    background-image: url(/img/header-background.jpg);
    height: 100rem;
    display: flex;
    font-size: 4rem;
    gap: 25rem;
    padding: 3rem;
}
.menu img,h1,h2{
    padding-left: 15rem;
}
.menu h1{
    padding-top: 30rem;
}
.menu h2{
    color: orange;
    font-size: 3.5rem;
}
.vinilos{
    text-align: center;
    font-size: 6rem;
    color: orange;
}
.principal {
    display: flex;
    width: 100%;
    gap: 1rem;
    padding-left: 25rem;
}
.principal div{
    border: solid .1rem;
    height: 30%;
    text-align: center;
    font-size: 2.5rem;
}
.boton{
    padding: 2rem;
    width: 2rem;
    height: 2rem;
    background-color: orange;
}
.principal div h3{
    color: orange;
}
nav a{
    color: white;
    text-decoration: none;
    padding: 1rem;
    font-size: 2rem;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Nunito', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}
.footer{
    background-color: black;
    display: flex;
    padding-top: 5rem;
    gap: 20rem;
    color: white;
    padding: 20rem;

}
.footer div a{
    padding-left: 2rem;
    color: orange
    ;
}